/* Styling for HW-06 Goes in this File */

body {
  font-family: Arial;
  padding: 10px;
}

/* Center Heading*/
h1  {
  text-align: center;
}

h2 {
  text-align: center;
}

/* Style Flexbox That Seperates Webpage*/
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  text-align: center;
}



